
body {
    margin:0px;
}



.signin-form {
    min-height: 215px;
    width: 400px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    padding: 24px;
    background-color: #EEEEEE;
}