.home-table {
    width:100%;
    border-collapse: collapse;
    border-bottom: 1px solid #ECEDF1;
}
.table-header{
    background-color : #F9FAFC;
    padding: 50px;
    border-color: black;
    border-width: 1px;
}
td {
    padding: 10px;
    text-align: center;
}

th {
    padding: 30px;
    border-top: 1px solid #ECEDF1;
    border-bottom: 1px solid #ECEDF1;
    border-left: none;
    border-right: none;
    
}